__pycache__/
.idea
horse-or-human/
validation-horse-or-human/
mnist.npz
cats_and_dogs_filtered/
test_new_images/
datasets/
images/
data/
*.gz
img/
venv/
*.zip
tmp/
rps/
rps-test-set/
rps-validation/
*.png
.ipynb_checkpoints/
data/
model_data/
output/
pretrained-model/
*.h5
*.pd
*.mp4
variables.data-00000-of-00001
*.50d
XY_train/
XY_dev/
*.100d.txt
*.bin
